#warper
  #user-panel
    
    
    .welcome-box
     
    .events-box
      %p
      
        = link_to "", "#", remote: true, id: "my-events", class: "user-events", data: {user: current_user.id}
          
  %div
    .calendar
  %div{id: "create_event_dialog", class: "dialog", style: "display:none;"}
  %div{id: "event_desc_dialog", class: "dialog", style: "display:none;"}
