// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$body-background-color: #F1F1F1;
body { background: none repeat scroll 0% 0% $body-background-color; font-family: $default-font-family; }

#user_form_block { $form-width: 320px;
  font-size: 14px;
  width: $form-width;
  margin: auto;
  padding: 88px 0px 0px 0px;
  display: block;
  color:#606060;
  
  #form_logo { margin: auto; padding-bottom: 1px; width: 322px; display: block; }
  
  h1 { text-align:center; font-size: 32px; margin: 0 auto; font-weight: bold; color: #303030; padding-bottom: 12px; }
  
  #notice_messages {
    color:$notice-font-color;
    border:$notice-border;
    background-color:$notice-background-color;
    display:block;
    padding: 6px;
    margin-bottom: 6px;
  }

  #error_messages {
    color:$error-font-color;
    border:$error-border;
    background-color:$error-background-color;
    display:block;
    padding: 6px;
    margin-bottom: 6px;
    
    h2 { font-weight:bold; font-size:16px; margin-bottom: 6px; text-align:center; }
    li { list-style-type:disc; margin-left: 14px; }
  }
  
  p.login { text-align: center; }
  
  form {
    padding: 26px 24px 46px;
    font-weight: 400;
    overflow: hidden;
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
  
    h2, h3 { font-size: 24px; color: rgba(0, 0, 0, 1); margin: 1em 0 0.5em 0; }
    h3 { font-size: 17px; font-weight: bold; }

    ul, ol { margin-bottom: 1em; }
    ul, ol { display:block; }
    li { list-style-position: inside; list-style-type:disc; }
    
    p, .input-box { line-height: 1.5;
      
      .hint { font-size: 10px; color:#909090; }
      &.center { text-align: center; }
      label { color: #666;
        &.error { color: $error-font-color; }
      }
      /* add required field asterisk */
      label.required:after { content: "*"; color: red; }

      input {
        line-height: 1;
        width: 100%;
        padding: 5px 3px;
        margin: 1px 6px 10px 0px;
        background: none repeat scroll 0% 0% #FBFBFB;
        border: 1px solid #DDD;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
        color: #303030;
        transition: border-color 0.05s ease-in-out 0s;
        outline: 0px none;
        box-sizing: border-box;
        
        &[type="submit"] { background-color: rgba(114, 38, 90, 1); padding: 0 40px; cursor: pointer; color: white; font-size: 18px; margin: 36px auto 12px auto;
        width: auto; height: auto; line-height: 1.8; border: 0; border-bottom: 3px solid rgba(114, 48, 90,0); border-radius: 3px; }
        
        &.auto, &.auto-right { width: auto; }
        &.auto-right { margin-right: 15px; }
        &.small-margin { margin: 1px 6px 5px 0px; }
      }
    }
    
  }

}
